<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>*quiz*</title>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/quiz.js') }}" defer></script>
  </head>
  <body>
    <div class="w-96 mx-auto mt-10">
      <div class="bg-white pt-6 pb-8 mb-4 flex flex-col">
        <h2 id="title-category" class="text-3xl text-left font-bold box-shadow">
          카테고리
        </h2>
        <div id="quiz-container" class="box mb-5">
          <!-- 문제랑 보가 들어갈 곳 -->
        </div>
        <div class="flex justify-center mb-2">
          <button
            id="submit"
            type="button"
            onclick="handleSubmit()"
            class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full"
          >
            제출하기
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
