<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{ url_for('static', filename='js/quizEditor.js') }}"
      defer
    ></script>
    <title>정글퀴즈</title>
  </head>
  <body>
    <div class="w-96 mx-auto">
      <h1 class="text-2xl text-center mb-10">
        <a href="/">Jungle Quiz</a>
      </h1>
      <div id="quiz-container">
        <div>
          <select
            class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
            id="category"
          >
            <option value="" disabled selected>카테고리</option>
            <option value="PYTHON">파이썬</option>
            <option value="DS_ALG">자료구조/알고리즘</option>
            <option value="OS">운영체제</option>
            <option value="C_LANG">C언어</option>
            <option value="ETC">기타</option>
          </select>
        </div>
        <div class="mb-3">
          <div class="mb-3">
            <label class="block text-gray-700 font-bold mb-2" for="textarea">
              문제를 입력해주세요:
            </label>
            <textarea
              placeholder="문제를 입력해주세요."
              class="block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              id="textarea"
              rows="4"
            ></textarea>
          </div>
          <div class="flex flex-col mb-2 multiple-choice">
            <div class="block text-gray-700 font-bold mb-2">
              보기를 입력하고 정답을 체크해주세요
            </div>
            <div class="multiple-choice-container">
              <label class="inline-flex items-center mt-3 w-full">
                <input
                  type="radio"
                  class="form-radio text-indigo-600"
                  name="radio-group-0"
                  value="0"
                />
                <input
                  type="text"
                  class="ml-3 block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  placeholder="1번 보기를 입력해주세요"
                />
              </label>
              <label class="inline-flex items-center mt-3 w-full">
                <input
                  type="radio"
                  class="form-radio text-indigo-600"
                  name="radio-group-0"
                  value="1"
                />
                <input
                  type="text"
                  class="ml-3 block w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                  placeholder="1번 보기를 입력해주세요"
                />
              </label>
            </div>
            <!-- <div class="flex justify-center mb-2 mt-3">
              <button
                id="add-multiple-choice-btn"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
              >
                +보기 추가
              </button>
            </div> -->
          </div>
        </div>
      </div>
      <hr class="border-t-2 border-gray-300 my-8" />
      <div class="flex justify-center mb-2">
        <button
          id="add-quiz"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        >
          +퀴즈 추가
        </button>
      </div>
      <div class="flex justify-center mb-2">
        <button
          id="upload-quiz-btn"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full"
        >
          출제 하기
        </button>
      </div>
    </div>
  </body>
</html>
