<!DOCTYPE html>
<html lang="ko">    
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>*score*</title>


  </head>

  <body class="bg-gray-100 h-screen">
    <div class="container mx-auto px-4 h-full flex justify-center items-center">
        <div class="bg-white shadow-md rounded px-14 pt-6 pb-8 mb-4 flex flex-col">
            <div id="score" class="flex justify-center mb-2 p-10">    
                <h2 class="whitespace-pre-line text-5xl text-rose-500/50">0</h2>
                <h2 class="text-2xl mt-5">/1</h2>
            </div>
            <div>
                <h2 class="text-2xl font-bold italic">Review</h2>
                <div class="box">
                    <h3 class="text-left font-bold text-rose-500/50">Q.1</h3>
                    <div>
                        <p class="text-lg font-bold">문제-------</p>
                        <ul style="list-style:none" class="list-disc">
                            <li>&#9312 보기를 입력해주세요</li>
                            <li>&#9313 보기를 입력해주세요</li>
                            <li>&#9314 보기를 입력해주세요</li>
                        </ul>
                        <div class="flex flex-row">
                            <p class="pe-9 text-rose-500/50">정답 : &#9312 </p>
                        
                            <p>선택 : &#9314 </p>
                        </div>
                        <hr>
                    </div>     
                </div>
            </div>
            <a style="text-align:center"href="https://localhost/home">home</a>
        </div>
    </div>
  </body>
</html>
