<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>퀴즈결과 - 정글퀴즈</title>
</head>

<body>
  <nav class="flex items-center justify-end flex-wrap p-6">
    <div class="">
      <select onchange="location = this.value;"
        class="inline-block text-sm px-4 py-1.5 leading-none border rounded text-black mt-4 lg:mt-0">
        <option value="" disabled selected>{{username}} 님</option>
        <option value="/userinfos?correct=True">
          맞힌 문제
        </option>
        <option value="/userinfos?correct=False">
          틀린 문제
        </option>
      </select>
      <!-- <a href="/userinfos"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-black mt-4 lg:mt-0">{{username}} 님</a> -->
      <a href="/logout"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-black mt-4 lg:mt-0">Logout</a>
    </div>
  </nav>

  <div class="w-96 mx-auto mt-10 pb-96">
    <div>
      <div class="text-4xl">
        <span>결과: </span>
        <span class="text-green-500">{{correctCount}}</span>
        <span>/ {{total}}</span>
      </div>
      <div class="flex justify-center text-center my-6">
        <a href="/" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full">메인화면으로</a>
      </div>
      <div>
        <!-- 반복되는 box << 이거를 solved_problems로 채울 것 -->
        {% for solved_problem in solved_problems %}
        <div class="box my-8">
          <div>

            {% if solved_problem.correct == True %}
            <p class="text-lg font-bold pb-3">
              Q{{loop.index}}. {{solved_problem.problem.title}}
            </p>
            {% endif %}

            {% if solved_problem.correct == False %}
            <p class="text-lg font-bold text-red-400 pb-3">
              Q{{loop.index}}. {{solved_problem.problem.title}}
            </p>
            {% endif %}

            <ul style="list-style: none" class="list-disc">
              {% for bogi in solved_problem.problem.content %}
              <li>{{loop.index}}. {{bogi}}</li>
              {% endfor %}
            </ul>
            <div class="flex flex-row pt-3">
              <p class="pe-9 text-green-500">
                정답 : {{solved_problem.problem.answer + 1}}
              </p>
              <p>선택 : {{solved_problem.answer + 1}}</p>
            </div>
            <hr />
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="flex justify-center text-center">
        <a href="/" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full">메인화면으로</a>
      </div>
    </div>
  </div>
</body>

</html>